/* UserProfile.module.css */
.container {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #f4f7fc;
  height: 100%;
  align-items: center;
}

.profileCard {
  display: flex;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  gap: 2rem;
}

.sidebar {
  width: 250px;
  height: auto;
  background-color: #f8f9fa;
  border-radius: 8px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sidebarItem {
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-align: center;
}

.sidebarItem:hover {
  background-color: var(--purple);
  transform: scale(1.05);
  color: white;
}

.mainContent {
  flex: 1;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.profileHeader {
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  background-color: #f8f9fa;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.table {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
  margin-top: 20px;
}

.tableHeader {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.tableContent {
  border-collapse: collapse;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tableRow {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

.tableRow strong {
  font-weight: bold;
}

.button {
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
}

.logoutBtn {
  background-color: #d33;
  color: #fff;
}

.logoutBtn:hover {
  background-color: #c9302c;
}

.dashboardBtn {
  background-color: #3085d6;
  color: #fff;
}

.dashboardBtn:hover {
  background-color: #2a72c1;
}

.active {
  background-color: #2a72c1;
  /* Active state with a deeper blue */
  color: white;
}

.sidebarItem:active {
  background-color: #1d6c98;
  /* Slightly darker blue for active state */
}

.tabletd {
  padding: 10px;
}

@media only screen and (max-width:768px) {
  .sidebarItem {
    padding: 0px 0px;
    font-size: 12px;
    color: white;
    width: 100%;
  }

  .sidebar {
    position: fixed;
    width: 100%;
    flex-direction: row;
    left: 0;
    right: 0;
    bottom: 0;
    gap: 10px;
    background-color: var(--purple);
    align-items: end;
    border-radius: 0;
    padding: 10px 0px;
  }

  .table {
    padding: 0px;
    border-radius: 5px;
    box-shadow: none !important;
    overflow: overlay;
  }

  .active {
    color: black;
    background-color: transparent;
  }


}