.sidebutton,
.sidewhatsapp,
.sideInstagram,
.sidecall {
  position: relative;
}



.sidebutton a,
.sidewhatsapp a,
.sideInstagram a,
.sidecall a {
  position: fixed;
  right: 20px;
  z-index: 99;
  background-color: #fff;
  /* default background */
  padding: 10px 15px;
  color: white;
  border-radius: 50%;
  font-size: 20px;
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-cardDieses{
  height: 300px;
  width: 250px;
  object-fit: cover;
  border-radius: 14px;
}

/* Positioning */
.sidebutton a {
  top: 83%;
  background-color: #800080;
}

.sidewhatsapp a {
  top: 72%;
  background-color: rgb(37, 211, 102);
}

.sidecall a {
  top: 61%;
  background-color: #008060
}
.sideInstagram a {
  top: 50%;
  background-color: #cf4d90;
}

/* Hover Effects */
.sidebutton a:hover {
  transform: scale(1.2) rotate(15deg);
  background-color: #c341c3;
  /* Pink color for hover */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  /* Shadow effect */
}

.sidewhatsapp a:hover {
  transform: scale(1.2) rotate(15deg);
  background-color: #74c491;
  /* WhatsApp green hover color */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  /* Shadow effect */
}

.sidecall a:hover {
  transform: scale(1.2) rotate(15deg);
  background-color: #34b7f1;
  /* Light blue for call hover */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  /* Shadow effect */
}

.sideInstagram a:hover {
  transform: scale(1.2) rotate(15deg);
  background-color: #620562;
  /* Light blue for call hover */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  /* Shadow effect */
}



@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-8px);
  }

  100% {
    transform: translateY(0);
  }
}

.sidebutton a,
.sidewhatsapp a,
.sideInstagram a,
.sidecall a {
  animation: bounce 2s ease-in-out infinite;
}



.top-cards {
  padding: 1rem;
  text-align: center;
}

.section-title {
  font-size: 1.8rem;
  color: #4a4a4a;
  margin-bottom: 1.5rem;
}

.cards-container {
  display: flex;
  justify-content: space-evenly;
  gap: 0.5rem;
}

.card-main {
  width: 95%;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  border-radius: 8px;
  margin-bottom: 0.6rem;
}

.card-main:hover {
  transform: translateY(-5px);
  box-shadow: none;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 0.5rem;
}


.card-title {
  font-size: 1rem;
  color: white !important;
  width: 100%;
  text-align: center;
  /* position: absolute; */
  top: 20px;
}

.product-card {
  /* box-shadow: 0px 4px 4px 0px #00000040; */
  padding: 10px;
  border-radius: 10px;
  background: white;
  height: 100%;
  position: relative;
}


.card-img-top {
  height: 120px;
  width: 100%;
}

.product-card .row {
  /* padding: 10px; */
}

.ayurved-product {
  background-color: beige;
  padding-top: 1rem;
}

.ayurved-product h2 {
  font-weight: 700;
  color: var(--purple);
  margin-bottom: 1rem;
}

.ayurved-product .container .row .col-md-6 {
  margin-bottom: 1rem;
}

.product-card-details h5 {
  font-size: 18px;
  color: var(--purple);
  font-weight: 700;
  margin-bottom: 5px;
}

.product-card-details ul {
  padding-left: 1rem;
  margin: 0;
}

.product-card-details ul li {
  font-size: 12px;
}

.product-overview-bg {
  background-image: url("../../Images/banner-bg-hero.png");
  width: 100%;
  height: 70vh;
  padding: 2rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.product-overview-bg button {
  position: absolute;
  top: 65%;
  left: 45%;
}

.product-card-details .descrip{
  font-size: 12px;
}
.product-card-details .descrip p{
  margin: 0;
}


.detail-sec{
  display: flex;
  gap: 6px;
  align-items: baseline;
}

.MentalHealthCards {
  background-image: url("../../Images/card-bg.png");
  background-color: #f9f9f9;
  background-size: contain;
  background-position: center;
  padding: 3rem 1rem;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.1);
}

.section-heading {
  font-size: 24px;
  color: #6d2875;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.Mental-card-main {
  background: linear-gradient(to bottom, #ffffff, #f3e6ff);
  padding: 1.5rem 0.3rem;
  text-align: center;
  border-radius: 1rem;
  height: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

.Mental-card-main:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.Mental-card-main::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(109, 40, 117, 0.15);
  z-index: -1;
}

.Mental-card-main .card-title {
  font-size: 14px;
  font-weight: 600;
  color: #6d2875;
  margin-top: 1rem;
  text-transform: uppercase;
}

.card-content {
  margin-top: 10px;
}

.card-content p {
  margin: 0;
  font-size: 14px;
}

.Mental-card-main:hover .card-img-top {
  transform: scale(1.1);
}

.health-card-image {
  width: 100px;
  height: 100px;
  object-fit: contain;
  padding: 0px;
  transition: transform 0.3s ease-in-out;
}

.health_cards_main {
  margin-bottom: 1rem;
}

.health_cards_main a {
  text-decoration: none;
  color: black;
}

.top-cards-slider {
  display: block;
}

.custom-slider-arrow {
  position: absolute;
  top: 50%;
  z-index: 2;
  font-size: 24px;
  cursor: pointer;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.596);
  border-radius: 0%;
  padding: 10px;
}

.custom-prev-arrow {
  left: -10px;
}

.custom-next-arrow {
  right: 0px;
}


@media only screen and (max-width: 768px) {
  .detail-sec{
    display: grid;
    gap: 0px;
    text-align: end;
  }
  
  .top-cards-slider {
    display: block;
  }

  .top-cards-slider {
    padding: 1rem 0;
  }

  .card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin: 0;
    border-radius: 8px;
  }

  .top-cards {
    padding: 5px;
    display: none;
  }

  .card-title {
    font-size: 6px;
    top: 5px;
  }

  .product-card .row {
    padding: 0;
  }

  .product-card {
    display: block;
    padding: 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px #00000040;
  }

  .product-card-details h5 {
    font-size: 16px;
  }

  .disease-responsive{
    font-size: 14px;
  }

  .product-card-details {
    padding: 12px 6px 0;
  }

  .product-card-details ul li {
    font-size: 10px;
  }

  .product-card-details ul {
    margin-bottom: 1rem;
    margin-bottom: 1rem;
    /* padding: 0; */
  }

  .ayurved-product .container .row .col-md-6 {
    padding: 5px;
    margin-bottom: 0.5rem;
  }

  .product-card-details p {
    font-weight: 600;
    font-size: 12px;
  }

  .product-overview-bg {
    width: 100%;
    height: 120px;
    margin-top: 1rem;
  }

  .health-card-image {
    width: 70px;
    height: 70px;
    border-radius: 0%;
    border: none;
  }

  .Mental-card-main {
    padding: 10px 5px;
    border-radius: 10px;
  }

  .card-content p {
    font-size: 12px;
  }

  .MentalHealthCards .container .row .col-md-4 {
    padding: 5px;
  }

  .MentalHealthCards {
    padding: 5px 10px;
  }

  .product-slider-subtitle {
    text-align: center;
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 1rem;
  }

  .Mental-card-main::after {
    box-shadow: none;
  }

  .health_cards_main {
    margin-bottom: 0.5rem;
  }

  .product-overview-bg {
    background-image: url("../../Images/banner-bg-mobile.png");
    width: 100%;
    height: 55vh;
    object-fit: contain;
  }

  .product-overview-bg button {
    display: none;
  }

  .card-img-top {
    height: 120px;
    width: 100%;
    object-fit: cover;
  }

}